/* Variables */

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-accent: #2196f3;
    --color-accent-active: #188ce8;
    --color-primary-text: #757575;
    --color-secondary-text: #212121;
    --color-transparent-text: rgba(255, 255, 255, 0.6);
    --color-bg-dark: #2f303a;
    --color-bg-light: #f5f4fa;
    --color-hr: #ececec;
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Global */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary-text);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--color-white);
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin-top: 0;
margin-bottom: 0;
}

.btn-reset {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.list-reset {
    
    padding: 0;
    margin: 0;
    list-style: none;
}


/*Utils*/

.container {
max-width: 1200px;
padding: 0 15px;
margin: 0 auto;
}

.header-inner {
display: flex;
align-items: center;    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.section {
    padding: 94px 0;
}

/* Button */

.btn {
    display: inline-block;
    min-width: 200px;
    padding: 10px;    
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-accent);
    border-radius: 4px;
}

.btn:hover,
.btn:focus {
    background-color: var(--color-accent-active);
}

.filter-btn {
    display: inline-block;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--color-secondary-text);
    background-color: var(--color-bg-light);
    border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--color-white);
    background-color: var(--color-accent);
}

/* Logo */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-header {
    color: var(--color-secondary-text);
}

.header-nav {
margin-left: 93px;    
}

.logo-footer {
    color: var(--color-white);
}

.logo-text {
    color: var(--color-accent);
}

.header-list {
display: flex;
flex-wrap: wrap;
column-gap: 50px;
width: 600px;
}

/* Title */

.title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-secondary-text);
}

/* Filter */

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

/* Header */

.header{
padding: 24px 0;
border-bottom: 1px solid var(--color-hr);    
}

.header-link,
.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.header-link {
    color: var(--color-secondary-text);
    text-decoration: none;
}
.header-contacts {
    display: flex;
    column-gap: 50px;
    margin-left: auto;
}
.header-list {
display: flex;    
flex-wrap: wrap;
column-gap: 50px;
max-width: 600px;
}

.header-mail,
.header-number {
    color: inherit;
    text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.header-contacts a:hover,
.header-contacts a:focus {
    color: var(--color-accent);
}
.header-list .link.current {
    color: var(--color-accent);
}

/* Hero */

.hero {
    padding: 200px 0;
    text-align: center;
    background-color: var(--color-bg-dark);
}

.hero-title {
    max-width: 696px;
    margin:0 auto 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

/* Features */

.features-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-secondary-text);
}

.features-descr {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}

.features-list {
display: flex;
flex-wrap: wrap;
gap: 30px;    
}

.features-item {
max-width: 270px;
}

/* About */

.about {
padding-top: 3px;    
}

.about-list {
display: flex;
flex-wrap: wrap;
gap: 30px;    
}

.about-img {
display: block;
max-width: 100%;
}

/* Command */

.command {

    background-color: var(--color-bg-light);
}

.command-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-secondary-text);
}

.command-descr {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
}

.command-list {
display: flex;
flex-wrap: wrap;
gap: 30px;    
}

.command-img {
display: block;
max-width: 100%;
}
.command-content {
padding: 30px 15px;                 
}
.command-item {
background-color: var(--color-white);
box-shadow: var(--card-shadow);
border-radius: 0 0 4px 4px;
}


/* Portfolio */

.portfolio-link {
    text-decoration: none;
    color: inherit;
}

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 29px;
        margin-top: 50px;
    }


.portfolio-title {
    margin-bottom: 4px  ;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--color-secondary-text);
}

.portfolio-subtitle {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
}

.portfolio-img {
    display: block;
    max-width: 100%;
}

.portfolio-content {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

/* Footer */

.footer {
    padding: 60px 0;
    background-color: var(--color-bg-dark);
}

.footer-contacts {
    margin-top: 20px;
    font-size: 14px;
    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}

.footer-item {
margin-bottom: 9px;    
}


.footer-address {
    color: var(--color-white);
    text-decoration: none;
}

.footer-mail,
.footer-number {
    color: var(--color-transparent-text);
    text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    color: var(--color-accent);
}